j@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
}
#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #222;
}
#header-title {
  display: block;
  float: left;
  font-size: 35px;
  margin-left: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
  margin-right: 20px;
}
#header-nav li{
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1000x;
  margin: 0 auto;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.container:nth-child(even){
  color: gray
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  width: 50px ;
  height: 75px ;
  vertical-align: middle;
  border-radius: 50px;
}
.about-author img {
  width: 200px;
  height: 300px;

}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
.post-image img {
  width: 800px ;
  height: 500px ;
  vertical-align: middle;
}
#content-about {
text-align: center;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
.front-image img{
  display: inline;
  align: middle;
}
      
      
